
.body{

    margin:0;
    background-color: black;

}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
    height:80px;
   
    justify-content:space-between;
}
.leftnav{
    display:flex;
    padding-left: 20px;

}
.rightnav{
    padding-right: 80px;
    display:flex;
    flex-direction: row;
    
    align-items: center;

}
.ele{
    padding:12px;
    border:0px solid white;
    margin:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px
}
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:70vh;
    
}
.lefthome{
    padding-left: 200px;
    padding-top:50px;
    width:50vh;

}
.righthome{
    width:50vh;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 100px;

}
.info{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    
    font-weight: 50x;
}
.icons{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 10px;
    margin:10px;
    padding-left: 95vh;

    }
    .project{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 80px;
        
    }

    .each{
        border: 2px solid blue;
        margin: 20px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
.projects{
    
    text-align: center;
}
.skill{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}
.name{
    border: 2px solid green;
    padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        margin:20px;
    

}
.skills{
    text-align: center;
}
